body {
  margin: 0;
}

.app {
  font-family: sans-serif;
}

.toolbar {
  padding: 8px;
  background: #3347db;
  color: white;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
}

.panel {
  width: 20%;
  min-width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.layer-list {
  padding-left: 15px;
  margin-top: 0px;
}

.layer-panel {
  width: 20%;
  min-width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.layer-text {
  min-width: 50px;
  width: 45%;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 10px;
  align-items: center;
}

.layer-btn {
  display: flex;
  position: absolute;
  right: 0px;
}

.layers {
  width: 20%;
  min-width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: 320px;
  overflow: auto;
}

.canvas {
  border: 1px solid #000;
  margin: 10px;
}

.paint-lite-header {
  text-align: end;
  position: absolute;
  right: 25px;
  top: 17px;
  font-weight: 600;
}

.color-input {
  width: 100%;
  max-width: 100px;
}

/** Brush Controls **/
.panel-element {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  margin: 10px 0px;
}

.panel-text {
  width: 20%;
}

.panel-picker {
  width: 60%;
}

.panel-button {
  width: 20%;
  padding: 4px;
}

.panel-select {
  width: 40%;
  padding: 4px;
}